<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swith">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SwithApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWith"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.manage.ManageRoundActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manage.ManageAttendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manage.ManageRoundModifyActivity"
            android:exported="false" />
        <activity android:name=".ui.manage.ManageFinishActivity"
            android:exported="false"/>
        <activity android:name=".ui.manage.ManageStudyModifyActivity"
            android:exported="false"/>
        <activity android:name=".ui.manage.ManageUserActivity"
            android:exported="false"/>
        <activity android:name=".ui.manage.ManageUserProfileActivity"
            android:exported="false"/>
        <activity android:name=".ui.manage.ManageUserResumeActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.study.create.RoundCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.study.announce.AnnounceActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.SnsLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileModifyActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.study.StudyActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.manage.ManageActivity" />
        <activity
            android:name=".ui.study.create.StudyCreateActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.study.create.SelectPlaceActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">

             <intent-filter>
             <action android:name="android.intent.action.VIEW" />
             <category android:name="android.intent.category.DEFAULT" />
             <category android:name="android.intent.category.BROWSABLE" />


             <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
             <data
             android:host="oauth"
             android:scheme="kakao1cdb9c58056551e093411bcab081a6b4" />
             </intent-filter>
        </activity>
    </application>

</manifest>