<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swith">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".SwithApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWith"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.study.announce.AlertActivity"
            android:exported="false" />
        <activity
            android:name=".ui.rating.RatingActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fcm_default_channel" />

        <service
            android:name=".utils.FirebaseMessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".ui.manage.ManageRoundActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manage.ManageAttendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.manage.ManageRoundModifyActivity"
            android:exported="false" />
        <activity android:name=".ui.manage.ManageFinishActivity"
            android:exported="false"/>
        <activity android:name=".ui.manage.ManageStudyModifyActivity"
            android:exported="false"/>
        <activity android:name=".ui.manage.ManageUserActivity"
            android:exported="false"/>
        <activity android:name=".ui.manage.ManageUserProfileActivity"
            android:exported="false"/>
        <activity android:name=".ui.manage.ManageUserResumeActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.study.create.RoundCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.study.announce.AnnounceActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.SnsLoginActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ui.profile.ProfileModifyActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.study.StudyActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.manage.ManageActivity" />
        <activity
            android:name=".ui.study.create.StudyCreateActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.study.create.SelectPlaceActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">

             <intent-filter>
             <action android:name="android.intent.action.VIEW" />
             <category android:name="android.intent.category.DEFAULT" />
             <category android:name="android.intent.category.BROWSABLE" />


             <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
             <data
             android:host="oauth"
             android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" />
             </intent-filter>
        </activity>
    </application>

</manifest>